body {
	background-image: url(https://eiam.site/cloud/resources/house.jpg); 
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	font-family: Candara;
	font-size: larger;
	color: white;
}

.boton {
    background-color: transparent !important;
    border-style: solid !important;
    border: 1px;
    font-size: medium;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white !important;
  opacity: 1; /* Firefox */
}

.nav-tabs {
    border-bottom: 1px solid #222222;
}

.nav-link.active{
	color: #fff;
    background-color: #222222 !important ;
    border-color: #222 !important;
} 

